<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>

<body>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" th:href="products" href="#">Products</a></li>
            <li class="nav-item"><a class="nav-link" th:href="users" href="#">Users</a></li>
            <li class="nav-item"><a class="nav-link" th:href="logout" href="#">Logout</a></li>
        </ul>
        <span class="navbar-text" th:text="${username}">User</span>
    </div>
</nav>

<div class="container">
    <h2>Product Client</h2>
</div>

<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>

</body>

</html>